/*fichero que gestiona las formas y texturas de los elementos del fxml*/


/*boton de login*/
.loginButton{
    -fx-text-align: center;
    -fx-font-size: 16px;
    -fx-font-weight: 300;
    -fx-border-color: #000000;
    -fx-border-color: #000000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgb(245, 243, 236);
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*boton de settings*/

.settingsButton{
    -jfx-button-type: FLAT;
    -jfx-rippler-fill: rgba(0, 0, 0, 0.15);
    -fx-border-color: transparent;
    -fx-background-color:transparent;
    -fx-border-radius: 100%;
    -fx-background-radius: 100%;
    -fx-min-width: 20px;
    -fx-min-height: 20px;
    -fx-max-width: 20px;
    -fx-max-height: 20px;
    -fx-background-color: transparent;
    -fx-alignment: center;
    -fx-content-display: graphic-only;
    -fx-padding: 0px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2),4,0,0,2);
    -fx-cursor: hand;
}


/*boton de registro*/
.registerButton{
    -fx-text-align: center;
    -fx-font-size: 16px;
    -fx-font-weight: 300;
    -fx-border-color: #000000;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: rgb(245, 243, 236);
    -fx-border-width: 2px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-text-alignment: center;
    -fx-cursor: hand;
}

/*anchorPane init front*/

.anchorPaneInitFront{
    -fx-text-align: center;
    -fx-font-size: 16px;
    -fx-border-color: #08476F;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-background-color: #87c2f3b6;
    -fx-border-width: 4px;
    -fx-alignment: center;
    -fx-content-display: center;
    -fx-padding: 5px;
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2),4,0,0,2);
}

/*Logo Taskyourself*/

.taskYourselfLogo{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.2),4,0,0,2);
}




